// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #fe7422;
$brand-secundary:       #00b1e2;

$text-primary:          #5d5d5f;